.fullComment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e0e7ff;
  width: 600px;
  color: #4338ca;
  border-radius: 5px;
}

.delete {
  background-color: white;
  color: red;
  border: 1px solid red;
}
